<h2>Hello. I'm DataBarb</h2>
<p><img src="https://pbs.twimg.com/profile_images/599004983732805633/7DyjqSfy_400x400.jpg" alt="DataBarb" title="Follow me on Twitter @databarb"  class="img-rounded floatLeft" />			
#opendata tweets of substance and credibility as long as it makes me popular</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=databarb&repo=databarb.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=databarb&repo=databarb.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/databarb" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @databarb</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/databarb" rel="me" class="social github" title="Go to github.com/databarb" target="_blank"></a></li>
	<!--  <li><a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>  -->
	  <li><a href="http://www.twitter.com/databarb" rel="me" class="social twitter" title="Go to twitter.com/databarb" target="_blank"></a></li>
<!--	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner databarb rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li>  -->
	  <li><a href="https://github.com/databarb/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for DataBarb"  target="_blank"></a></li>				
	</ul>
</p>
